
  .outer-wrapper {
    padding: 0.5em;
    margin: auto;
  }

  .center {
    margin: auto;
    width: 100%;
    text-align: center;
  }

  th {
    text-align: left;
    margin-top: 5;
  }


  input {
    width: 100%;
    margin-bottom: 1em;
  }
  
  textarea {
    width: 100%;
    resize: none;
    border: 1px solid #e4e4e4;
    margin-bottom: 1em;
  }